p {
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumb {
  color: #f46b5b;
  font-size: 18px;
  font-weight: 500;
  margin-top: 48px;
}

.breadcrumb a {
  text-decoration: none;
  color: #a7a7a7;
}

.breadcrumb span {
  color: #a7a7a7;
  margin: 0 16px;
}

.about-title {
  margin-top: 48px;
  margin-bottom: 80px;
  text-align: center;
}

.about-title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #383838;
  margin-bottom: 32px;
}

.about-title p {
  font-size: 18px;
  font-weight: 400;
  color: #383838;
  margin: 0 251px;
}

.about-banner {
  border-radius: 32px;
  background-color: #c4c4c4;
  width: 100%;
  height: 800px;
  margin-bottom: 160px;
}

.why-us {
  margin-bottom: 160px;
}

.why-us-title h3 {
  font-size: 48px;
  font-weight: 700;
  color: #383838;
  margin-bottom: 80px;
  text-align: center;
}

.why-us-card {
  text-align: center;
  padding: 0 14px;
}

.why-us-icon {
  margin-bottom: 32px;
}

.why-us-card h4 {
  font-size: 24px;
  font-weight: 500;
  color: #383838;
}

.why-us-card p {
  font-size: 18px;
  font-weight: 400;
  color: #a7a7a7;
}

.our-team {
  margin-bottom: 160px;
}

.our-team-title {
  text-align: center;
  margin-bottom: 80px;
}

.our-team-title h3 {
  font-size: 48px;
  font-weight: 700;
  color: #383838;
  margin-bottom: 32px;
}

.our-team-title p {
  font-size: 18px;
  font-weight: 400;
  color: #a7a7a7;
  padding: 0 478px;
}

.our-team-card .our-team-image {
  height: 376px;
  background-color: #c4c4c4;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.our-team-details {
  text-align: center;
  padding: 30px 80px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.our-team-details h4 {
  font-size: 24px;
  font-weight: 500;
  color: #383838;
}

.our-team-details p {
  font-size: 18px;
  font-weight: 400;
  color: #c4c4c4;
}

.newsletter {
  display: flex;
  align-items: center;
  column-gap: 117px;
  background-color: #f46b5b;
  padding: 69px 256px;
}

.newsletter-details {
  display: flex;
}

.newsletter-title {
  margin-left: 32px;
}

.newsletter-title h4 {
  font-size: 48px;
  font-weight: 700;
  color: #fafafa;
}

.newsletter-title p {
  font-size: 18px;
  font-weight: 400;
  color: #fafafa;
}

.newsletter-input {
  position: relative;
}

.newsletter-input input {
  width: 524px;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 32px;
  font-size: 18px;
  color: #a7a7a7;
}

.newsletter-input input::placeholder {
  font-size: 18px;
  color: #a7a7a7;
}

.newsletter-input button {
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  background-color: #383838;
  color: #fafafa;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 8px;
  right: 8px;
}
